/vendor/
/node_modules/
/.env
/.env.backup
/.zicboard/
/config/zicboard.php
/public/hot
/public/storage
/public/env.example.js
/public/favicon.ico
/public/uploads/
/public/upload/
/public/clients/
/public/assets/admin/custom.css
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/bootstrap/cache/*
!/bootstrap/cache/.gitignore
/bin/zicboard-core*
!/bin/.gitignore
composer.phar
npm-debug.log
yarn-error.log
workerman.webman.php.pid
workerman.log
.DS_Store
